* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
}

.container {
    background-color: gold;
    padding: 10%;
    width: 67%;
    height: 250px;
    align-items: center;
    margin: 5%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#family-list {
    font-size: 25px;
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 20%;
    list-style-type: none;
}